*{
  margin: 0;
  padding: 0;
}

.App{
  background-image: url('./assets/Slide1.JPG');
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iframe{
  width: 60%;
  height: 60%;
}